/************************************************************************************** 
UNIVERSAL
*/

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #F50A54;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }

* {
    margin: 0; 
    font-family: 'Raleway', sans-serif;
}

body {
    height: 100vh; 
    width: 100vw; 
    background-color: var(--bs-gray-dark); 
}

a {
    text-decoration: none;
}

/************************************************************************************** 
NAVBAR
*/

.navbar-toggler {
    background-color: #F50A54; 
}

.nav-link:hover {
    color: #F50A54; 
}

/************************************************************************************** 
COMPONENT CONTAINER
*/

.component-container {
    height: 90vh; 
    width: 100vw; 
    display: flex; 
    justify-content: center;
    align-items: center;
    background-image: url('./images/gon_dark_background.jpg'); 
    background-size: cover; 
}

/************************************************************************************** 
HEADER ABOVE SEARCH BAR
*/

header {
    text-align: center;
    /* margin-top: 35vh;  */
}

h1 {
    font-size: 5vw; 
    color: #F50A54; 
    /* color: var(--bs-blue); */
}

h2 {
    font-size: 2vw; 
    color: #F50A54; 
}

/************************************************************************************** 
SEARCH BAR
*/

input:focus {
    outline: none; 
}

article {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100vw; 
}


.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.divider {
    width: 5px; 
}

#searchBar {
    background-color: white;
    border-radius: 5px;
    width: 25vw; 
    height: 4.5vh; 
}

.search-btn {
    background-color: #F50A54;
    color: white; 
    border-radius: 5px;
    height: 4.5vh; 
    width: 5vw; 
    font-weight: bold; 
    font-size: 1vw; 
}

/************************************************************************************** 
ANIME LIST
*/

.anime-img {
    width: 200px; 
    height: 300px; 
    opacity: 0.9; 
    transition: opacity 0.2s linear, transform 0.2s ease-in-out; 
    border: 2px solid white; 
}

.img-container {
    margin: 15px; 
    position: relative; 
    width: 200px; 
    height: 300px; 
}

.overlay {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    /* max-height: 300px; 
    max-width: 150px;  */
    /* width: 12vw;   */
    /* height: 25vh;      */
    height: 100%; 
    width: 100%; 
    opacity: 0; 
    transition: .5s ease; 
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    /* margin-left: 15px; 
    margin-top: 14px;  */
    border-radius: 3px; 
    /* display: block;  */
}

.img-container:hover .overlay {
    opacity: 1; 
}

.thumbnail {
    width: 20vw; 
    height: 10vh; 
}

.title {
    /* color: #F50A54; */
    color: white; 
    font-size: 15px; 
    /* position: absolute;  */
    text-align: center; 
    padding: 4vh 1vw 0 1vw; 

}

.meta {
    color: #F50A54; 
    text-align: center; 
}

/* .anime-img:hover {
    opacity: 1; 
    transform: scale(1.25); 
    cursor: pointer; 
} */

.anime-list {
    margin: 0 auto; 
    width: 100vw; 
    background-color: var(--bs-gray-dark); 
}


#anime-gallery {
    margin-bottom: 35px; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    flex-wrap: wrap; 
}

/************************************************************************************** 
BACK TO TOP BUTTON AND CONTAINER    
*/

.back-container {
    width: 100vw; 
    height: 12vh; 
    display: flex; 
    justify-content: center;
    /* align-items: center; */
    /* margin-bottom: 10vh;  */
}

.back-btn {
    background-color: #F50A54;
    color: white; 
    border-radius: 5px;
    height: 4.5vh; 
    width: 8vw; 
    font-weight: bold; 
    font-size: 1vw;  
}

/************************************************************************************** 
FOOTER
*/

#footer {
    text-align: center; 
    max-height: 4vh; 
}

.container-fluid p {
    color: var(--bs-primary); 
    padding-top: 2px; 
}

/************************************************************************************** 
MEADIA QUERY    
*/

@media (max-width: 414px) {
    h1 {
        font-size: 50px; 
    }
    h2 {
        font-size: 25px; 
    }
    #searchBar {
        width: 50vw; 
    }
    #search {
        width: 20vw; 
        font-size: 15px; 
    }
    .component-container {
        background-image: url('./images/gon_iphone_background.jpg'); 
    }
}