* {
    margin: 0; 
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh; 
    width: 100vw; 
}

header {
    text-align: center;
    margin-top: 35vh; 
}

h1 {
    /* font-family: 'Raleway', sans-serif; */
    font-size: 75px;
}

h3 {
    font-size: 25px; 
    margin: 10px 0px; 
}

input:focus {
    outline: none; 
}

#anime-container {
    display: grid; 
    list-style-type: none;
    margin: 0 auto; 
}

.divider {
    width: 5px; 
}

.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}



#searchBar {
    background-color: white;
    border-radius: 5px;
    width: 25vw; 
    height: 4.5vh; 
}

.search-btn {
    background-color: grey;
    color: black; 
    border-radius: 5px;
    height: 4.5vh; 
    font-weight: bold; 
}

.series-card {
    text-align: center; 
}

.series-card p {
    text-align: center; 
    font-size: 30px; 
    margin: 10px 0; 
}

.series-card > img {
    /* width: 25vw;  */
    max-height: 300px; 
}