/************************************************************************************** 
UNIVERSAL
*/

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #F50A54;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }

* {
    margin: 0; 
    font-family: 'Raleway', sans-serif;
}

body {
    height: 100vh; 
    width: 100vw; 
    background-color: var(--bs-gray-dark); 
}

a {
    text-decoration: none;
}

/************************************************************************************** 
NAVBAR
*/

.navbar-toggler {
    background-color: #F50A54; 
}

.nav-link:hover {
    color: #F50A54; 
}

/************************************************************************************** 
COMPONENT CONTAINER
*/

.component-container {
    height: 90vh; 
    width: 100vw; 
    display: flex; 
    justify-content: center;
    align-items: center;
    background-image: url('./images/gon_dark_background.jpg'); 
    background-size: cover; 
}



/************************************************************************************** 
HEADER ABOVE SEARCH BAR
*/

header {
    text-align: center;
    /* margin-top: 35vh;  */
}

h1 {
    font-size: 5vw; 
    color: #F50A54; 
    /* color: var(--bs-blue); */
}

h2 {
    font-size: 2vw; 
    color: #F50A54; 
}

/************************************************************************************** 
SEARCH BAR
*/

input:focus {
    outline: none; 
}

article {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100vw; 
}


.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.divider {
    width: 5px; 
}

#searchBar {
    background-color: white;
    border-radius: 5px;
    width: 25.5vw; 
    height: 4.5vh; 
}

.search-btn {
    background-color: #F50A54;
    color: white; 
    border-radius: 5px;
    height: 4.5vh; 
    width: 5vw; 
    font-weight: bold; 
    font-size: 1vw; 
}

/* .series-card {
    text-align: center; 
}

.series-card p {
    text-align: center; 
    font-size: 30px; 
    margin: 10px 0; 
}

.series-card > img {
    max-height: 300px; 
    max-width: 150px; 
} */

/************************************************************************************** 
ANIME LIST
*/

.anime-img {
    margin: 15px; 
    max-width: 150px; 
    max-height: 300px; 
    opacity: 0.9; 
    transition: opacity 0.2s linear, transform 0.2s ease-in-out; 
    border: 2px solid white; 
}

.anime-img:hover {
    opacity: 1; 
    transform: scale(1.25); 
    cursor: pointer; 
}

.anime-list {
    margin: 0 auto; 
    width: 100vw; 
    background-color: var(--bs-gray-dark)
}


#anime-gallery {
    margin-bottom: 40px; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    flex-wrap: wrap; 
}

/* .anime-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
} */

/* #anime-list {
    list-style-type: none;
} */

/************************************************************************************** 
FOOTER
*/

#footer {
    text-align: center; 
    max-height: 4vh; 
}

.container-fluid p {
    color: var(--bs-primary); 
    padding-top: 2px; 
}